

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #004a99; 
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}

.header-content {
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    background-color: #f1f1f1;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #e1e1e1; 
}

section {
    padding: 50px 0;
    text-align: center;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 8px; 
}

section img {
    max-width: 90%;
    height: auto;
    padding: 20px;
}

.gallery-buttons button {
    background-color: #007bff; 
    color: white;
    padding: 8px 16px;
}



.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000; 
    width: 80%;
    max-width: 500px;
    display: none; 
}

.popup p {
    color: #333;
    font-size: 16px;
}