<html>
    <head>
         <link rel="stylesheet" href="/public/css/navbar.css">
        <link rel="stylesheet"href="/public/css/car.css">
         <script src="/public/js/navbar.js"></script>
        <link rel="stylesheet" href="boxicons.min.css">
        <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet"
              href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <title>Car Website</title>
    </head>

    <body>
        <nav>

                <div class="logo">
                    <i class="ri-steering-2-line"></i>
                    <a href="#"><span>MK</span>showroom</a>
                </div>
                <div class="menubar">
                   <a href=#cars-menu>Home</a>
                    <a href=about.html>About</a>
                    <a href=#footer>Contact</a>
                    <a href="Signup.html">Registration</a>
                                <!-- search icon-->
                  <div class="search">
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </div>
        </nav>


         <!-- Home-->
        <section class="home" id="home">
            <div class="hometex">
                <h1>Our website <br>have multiple of <span>cars</span><br> </h1>
                <p> Every car is represented <br>interior&exterior </p>
                <a href="#cars-menu"class="btn">Discover now</a>
            </div>


        </section>

        <!-- cars -->
        <section class="cars" id="cars">
            <div class="heading">
                <span> Cars</span>
                <h2>We have three brands of cars</h2>
            </div>
            </div>
        </section>


<div class = "carsmenu"id="cars-menu">
    <div class="container">
        <div class="section-header">

            <h2>Porsche</h2>
        </div>
        <div class="cars-menu-content">
            <div class="row">
                <div class="Cars-Collage">
                    <div class="single-car">
                        <div class="single-car-image-box">
                            <a href="911 GTR.html">
                                <div class="car-image">
                                    <img src="/img/xxxx.jpg">
                                </div>
                            </a>
                            <div class="car-model-info">
                                <p>
                                    model: 2024
                                    <span class="featured-mi-span">4000cc</span>
                                    <span class="featured-hp-span"> 502 HP</span>
                                    automatic
                                </p>
                            </div>
                        </div>
                        <div class="cars-txt">
                            <h2><a href="911 GTR.html">Porsche 911 GT3</a></h2>
                            <h3>$250,000</h3>
                            <p>
                                The Porsche 911 GT3 is a high-performance sports car known for its precision,
                                agility, and exhilarating driving experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="Cars-Collage">
                    <div class="single-car">
                        <div class="single-car-image-box">
                            <a href="992.html">
                                <div class="car-image">
                                    <img src="/img/Porsche 992.jpeg">
                                </div>
                            </a>
                            <div class="car-model-info">
                                <p>
                                    model: 2024
                                    <span class="featured-mi-span"> 3745 CC</span>
                                    <span class="featured-hp-span"> 641 HP</span>
                                    automatic
                                </p>
                            </div>
                        </div>
                        <div class="cars-txt">
                            <h2><a href="992.html">Porsche 992 Turbo S</a></h2>
                            <h3>$259,855</h3>
                            <p>
                                The Porsche 992 Turbo S is an ultra-high-performance sports car that combines
                                breathtaking speed, cutting-edge technology, and luxurious refinement to deliver an
                                extraordinary driving experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="Cars-Collage">
                    <div class="single-car">
                        <div class="single-car-image-box">
                            <a href="carrera.html">
                                <div class="car-image">
                                    <img src="/img/2003_Porsche_CarreraGT.jpg">
                                </div>
                            </a>
                            <div class="car-model-info">
                                <p>
                                    model: 2006
                                    <span class="featured-mi-span"> 5700 CC</span>
                                    <span class="featured-hp-span"> 310 HP</span>
                                    automatic
                                    <span class="featured-hp-span">"1 OF 1270"</span>
                                </p>
                            </div>
                        </div>
                        <div class="cars-txt">
                            <h2><a href="carrera.html"> "1 OF 1270" Porsche Carrera GT</a></h2>

                            <h3>$600,000</h3>
                            <p>
                                The Porsche Carrera GT is a legendary supercar known for its mesmerizing
                                performance, striking design, and V10 engine soundtrack.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="Cars-Collage">
                    <div class="single-car">
                        <div class="single-car-image-box">
                            <a href="cayenne.html">
                                <div class="car-image">
                                    <img src="/img/porsche_cayenne.jpg">
                                </div>
                            </a>
                            <div class="car-model-info">
                                <p>
                                    model: 2022
                                    <span class="featured-mi-span"> 2894 CC</span>
                                    <span class="featured-mi-span"> 4X4</span>
                                    <span class="featured-hp-span"> 348HP</span>
                                    automatic
                                </p>
                            </div>
                        </div>
                        <div class="cars-txt">
                            <h2><a href="cayenne.html">Cayenne</a></h2>
                            <h3>$80,000</h3>
                            <p>
                                The Porsche Cayenne is a luxurious and powerful SUV that combines sporty handling,
                                advanced technology, and spaciousness for a versatile driving experience.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="section-header">

                    <h2>Honda</h2>
                </div>
                <div class="cars-menu-content">
                    <div class="row">
                        <div class="Cars-Collage">
                            <div class="single-car">
                                <div class="single-car-image-box">
                                    <a href="car.html">
                                        <div class="car-image">
                                            <img src="/img/honda civic.jpg">
                                        </div>
                                    </a>
                                    <div class="car-model-info">
                                        <p>
                                            model: 2024
                                            <span class="featured-mi-span">1800CC</span>
                                            <span class="featured-hp-span"> 180 HP</span>
                                            automatic
                                        </p>
                                    </div>
                                </div>
                                <div class="cars-txt">
                                    <h2><a href="car.html">Civic</a></h2>
                                    <h3>$36,786</h3>
                                    <p>
                                        Reliable, efficient, sporty: the iconic Honda Civic delivers a thrilling and
                                        practical driving experience.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="Cars-Collage">
                            <div class="single-car">
                                <div class="single-car-image-box">
                                    <a href="accord.html">
                                        <div class="car-image">
                                            <img src="/img/Honda Accord.jpeg">
                                        </div>
                                    </a>
                                    <div class="car-model-info">
                                        <p>
                                            model: 2024
                                            <span class="featured-mi-span">3471CC</span>
                                            <span class="featured-hp-span"> 192 HP</span>
                                            automatic
                                        </p>
                                    </div>
                                </div>
                                <div class="cars-txt">
                                    <h2><a href="accord.html">Accord</a></h2>
                                    <h3>$48,795</h3>
                                    <p>
                                        The Honda Accord is a reliable and versatile midsize sedan known for its
                                        comfortable ride, fuel efficiency, and strong reputation for longevity.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="Cars-Collage">
                            <div class="single-car">
                                <div class="single-car-image-box">
                                    <a href="crv.html">
                                        <div class="car-image">
                                            <img src="/img/honda crv.jpg">
                                        </div>
                                    </a>
                                    <div class="car-model-info">
                                        <p>
                                            model: 2024
                                            <span class="featured-mi-span"> 2354CC</span>
                                            <span class="featured-hp-span"> 190 HP</span>
                                            automatic
                                        </p>
                                    </div>
                                </div>
                                <div class="cars-txt">
                                    <h2><a href="crv.html"> Honda C-rv</a></h2>

                                    <h3>$33,350</h3>
                                    <p>
                                        The Honda CR-V is a popular compact SUV that offers a comfortable and
                                        spacious interior, excellent fuel efficiency, and a reputation for
                                        reliability.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="Cars-Collage">
                            <div class="single-car">
                                <div class="single-car-image-box">
                                    <a href="city.html">
                                        <div class="car-image">
                                            <img src="/img/honda city.jpeg">
                                        </div>
                                    </a>
                                    <div class="car-model-info">
                                        <p>
                                            model: 2024
                                            <span class="featured-mi-span"> 1498CC</span>
                                            <span class="featured-hp-span"> 119HP</span>
                                            automatic
                                        </p>
                                    </div>
                                </div>
                                <div class="cars-txt">
                                    <h2><a href="city.html">City</a></h2>
                                    <h3>$22,330</h3>
                                    <p>
                                        The Honda Accord: a reliable midsize sedan with a comfortable ride and
                                        strong reputation.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="section-header">

                            <h2>MG</h2>
                        </div>
                        <div class="cars-menu-content">
                            <div class="row">
                                <div class="Cars-Collage">
                                    <div class="single-car">
                                        <div class="single-car-image-box">
                                            <a href="mg5.html">
                                                <div class="car-image">
                                                    <img src="/img/mg5.jpg">
                                                </div>
                                            </a>
                                            <div class="car-model-info">
                                                <p>
                                                    model: 2024
                                                    <span class="featured-mi-span">1500 CC</span>
                                                    <span class="featured-hp-span"> 120 HP</span>
                                                    automatic
                                                </p>
                                            </div>
                                        </div>
                                        <div class="cars-txt">
                                            <h2><a href="mg5.html">MG5</a></h2>
                                            <h3>$30,995</h3>
                                            <p>
                                                a stylish and practical compact car with good performance and modern
                                                features.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="Cars-Collage">
                                    <div class="single-car">
                                        <div class="single-car-image-box">
                                            <a href="mg6.html">
                                                <div class="car-image">
                                                    <img src="/img/MG6.png">
                                                </div>
                                            </a>
                                            <div class="car-model-info">
                                                <p>
                                                    model: 2024
                                                    <span class="featured-mi-span">2000CC</span>
                                                    <span class="featured-hp-span"> 170HP</span>
                                                    automatic
                                                </p>
                                            </div>
                                        </div>
                                        <div class="cars-txt">
                                            <h2><a href="mg6.html">MG6</a></h2>
                                            <h3>$34,283</h3>
                                            <p>
                                                a stylish midsize sedan with performance, comfort, and modern
                                                features.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="Cars-Collage">
                                    <div class="single-car">
                                        <div class="single-car-image-box">
                                            <a href="gt.html">
                                                <div class="car-image">
                                                    <img src="/img/mg.jpg">
                                                </div>
                                            </a>
                                            <div class="car-model-info">
                                                <p>
                                                    model: 2024
                                                    <span class="featured-mi-span"> 1500CC</span>
                                                    <span class="featured-hp-span"> 160 HP</span>
                                                    automatic
                                                </p>
                                            </div>
                                        </div>
                                        <div class="cars-txt">
                                            <h2><a href="gt.html">MG GT</a></h2>

                                            <h3>$32,350</h3>
                                            <p>
                                                The MG GT is a sleek and sporty coupe that combines stylish design,
                                                agile performance, and modern features, offering an exciting driving
                                                experience for enthusiasts.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="Cars-Collage">
                                    <div class="single-car">
                                        <div class="single-car-image-box">
                                            <a href="hs.html">
                                                <div class="car-image">
                                                    <img src="/img/MG HS.jpg">
                                                </div>
                                            </a>
                                            <div class="car-model-info">
                                                <p>
                                                    model: 2024
                                                    <span class="featured-mi-span"> 1500CC</span>
                                                    <span class="featured-hp-span"> 169HP</span>
                                                    automatic
                                                </p>
                                            </div>
                                        </div>
                                        <div class="cars-txt">
                                            <h2><a href="hs.html">MG HS</a></h2>
                                            <h3>$27,000</h3>
                                            <p>
                                                a stylish SUV with comfort, safety features, and modern
                                                technologies.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



          <!--- Footer -->
                        <footer class="footer">
                            <div class="container">
                                <div class="row">
                                    <div class="footer-col">
                                        <h4>Mk Showroom</h4>
                                        <ul>
                                            <li><a href="about.html">about us</a></li>
                                            <li><a href="#">our services</a></li>
                                            <li><a href="#">privacy policy</a></li>

                                        </ul>
                                    </div>
                                    <div class="footer-col">
                                        <h4>get help</h4>
                                        <ul>
                                            <li><a href="#">Signup</a></li>
                                            <li><a href="#">Login</a></li>
                                        </ul>
                                    </div>
                                    <div class="footer-col">
                                        <h4>online shop</h4>
                                        <ul>
                                            <li><a href="#">watch</a></li>
                                            <li><a href="#">bag</a></li>

                                        </ul>
                                    </div>
                                    <div class="footer-col">
                                        <h4>follow us</h4>
                                        <div class="social-links">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="https://github.com/MohamedAmeen12/Project1"><i class="fab fa-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
    </body>
</html>
