

.cars-menu{
   padding: 40px 0 120px;
}
.cars-menu-content .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cars-menu-content .Cars-Collage {
  flex-basis: calc(25% - 10px); 
 
}

.cars-menu-content{padding-top:50px;}

.single-car-image-box{
    border: 1px solid;
    border-color:grey;
   width: 370px;

}
.car-image {
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dadfe9;
    width: 370px;
    height: 250px;
}
.car-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.car-model-info{padding:12px 7px;}
.car-model-info p {
    font-size: 12px;
    color: #8c92a0;
    text-transform: capitalize;
}
img{border:none;max-width:100%; height:auto;}

.section-header{
    font-size: x-large;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    text-align: center;
}
.h2 {
    color: gray;
}
h3
{
    color:black;
}
p{
    color: gray;
}


